.home-lead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.home-lead__text {
    // width: calc(((100% / 12) * 6) - 20px);
    max-width: 800px; 
    margin: 0 auto;
}

.home-lead__image {
    // width: (100% / 12) * 5;
    text-align: right;
}