.home-lead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.home-lead__text {
    width: ((100% / 12) * 6) - 2%;
}

.home-lead__image {
    width: ((100% / 12) * 6) - 2%;
    text-align: right;
}