.post-list-group {
    margin-bottom: 90px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    h2 {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
    }

    li {
        margin-bottom: 15px;

        p {
            margin: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        border-bottom: 0;
        border-bottom: 3px solid rgba($gold,.1);
    }
}

.post {
    max-width: 800px;
    margin: 0 auto;
    
    h1 {
        margin-top: 40px;
    }

    h2 {
        margin-top: 40px;
    }

    h3 {
        margin-top: 40px;
    }
}