{{ partial "header.html" . }}

<div class="wrapper">
  {{ with .Site.GetPage "section" "posts" }}
  <div class="page-title">
      <h1 class="page-title__lead">{{ .Title }}</h1>
      <div class="page-title__sub">{{ .Content }}</div>
  </div>
  {{ end }}

  {{ range ((where .Data.Pages "Type" "posts").GroupByDate "2006") }}
    <div class="post-list-group">
      <h2 class="post-list-group__title">{{ .Key }}</h2>

      <ul class="post-list">
        {{ range .Pages }}
          <li><p><a href="{{ .Permalink }}">{{ .Title }}</a></p></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>

{{ partial "footer.html" . }}