{{ partial "header.html" . }}

<div class="wrapper">
    <header class="page-title">
        <h1 class="page-title__lead">Quick Tips</h1>
        <div class="page-title__sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, commodi?</div>
    </header>

    {{ range .Paginator.Pages  }}
    <div class="post-list-group">
        {{ range .Pages }}
            <li><p><a href="{{ .Permalink }}">{{ .Title }}</a></p></li>
        {{ end }}
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}