.site-header {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    img {
        width: 40px;
        height: auto;
    }

    a {
        border-bottom: 0;
        padding-bottom: 0;
    }
}

.site-logo {
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    font-weight: bold;
    transition: .3s all ease-in-out;
    font-family: $font-sans;

    span {
        color: $gold;
        transition: .3s all ease-in-out;
    }

    &:hover, &:focus {
        color: $gold;

        span {
            color: $black;
        }
    }
}
