.site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-family: $font-sans;


    li {
        margin: 0 0 0 15px;
        line-height: 1;
        padding: 0;
        font-size: 1.8rem;

        @media (min-width: 410px) {
            margin: 0 0 0 30px;
        }
    }

    a {
        font-weight: 600;
    }

    .active a {
        padding-bottom: 2px;
        border-bottom: 2px solid black;

        &:hover {
            border-bottom: 0;
        }
    }
}