.page-title {
    margin-bottom: 60px;
    max-width: (940px / 2) - 20px;

    &--home {
        margin-bottom: 30px;
    }
}

.page-title__lead {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: bolder;
}

.page-title__sub {
    h2, p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 0;
    }
}