.page-title {
    margin-top: 120px;
    margin-bottom: 120px;

    &--home {
        margin-bottom: 30px;
        max-width: unset;
    }
}

.page-title__lead {
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 700;
    color: $gold;
    margin-bottom: 20px;
}

.page-title__sub {
    h2, p, & {
        font-size: 2.2rem;
        line-height: 1.5;
        margin-bottom: 0;
    }

    p, & {
        font-weight: 300;
    }
}

.page-title__meta {
    p, & {
        font-size: 1.8rem;
        color: rgba(0,0,0,.4);
    }
}