{{ partial "header.html" . }}

<div class="wrapper">
    <header class="page-title">
        <h1 class="page-title__lead">Jack Whiting</h1>
        <div class="page-title__sub"><p>PHP &amp; JavaScript Web Consultant</p></div>
    </header>

    <div class="home-lead__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem incidunt corporis ducimus soluta tempora nemo ex minima libero odit eaque.</p>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt libero sapiente, molestias, alias minima, animi possimus tempora impedit beatae non ex est excepturi exercitationem dolorem quo sint aliquam maiores inventore fuga!</p>
        
        <p>Hic aspernatur accusamus magni, neque voluptatem numquam totam sapiente soluta id, ratione earum voluptatibus veniam quos cum velit laborum!</p>

    </div>
</div>

{{ partial "footer.html" . }}