{{ partial "header.html" . }}

<div class="wrapper home-lead">
    <div class="home-lead__text">
        <header class="page-title page-title--home">
            <h1 class="page-title__lead">Jack Whiting</h1>
            <div class="page-title__sub"><p>PHP &amp; JavaScript Web Consultant</p></div>
        </header>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem incidunt corporis ducimus soluta tempora nemo ex minima libero odit eaque.</p>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt libero sapiente, molestias, alias minima, animi possimus tempora impedit beatae non ex est excepturi exercitationem dolorem quo sint aliquam maiores inventore fuga! Hic aspernatur accusamus magni, neque voluptatem numquam totam sapiente soluta id, ratione earum voluptatibus veniam quos cum velit laborum!</p>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod repudiandae cum pariatur ipsum qui, quia repellat maiores, rem sapiente non soluta id aut neque incidunt aliquam officiis maxime delectus repellendus!</p>
    </div>
    <div class="home-lead__image">
        <img src="{{ .Site.BaseURL }}img/jackwhiting.jpg" alt="JW">
    </div>
</div>

{{ partial "footer.html" . }}