</main>

<footer class="site-footer">
    <!-- <div class="cta cta--footer">
        <div class="wrapper">
            <p class="cta__lead"><span>Hey,</span> Let's Work Together</p>   
            <p>Have an intesresting project that you want to discuss? I’d love to hear from you so feel free to <a href="mailto:hi@jackwhiting.co.uk">contact me</a>.</p> 
        </div>
    </div> -->

    <div class="wrapper sub-footer">
        <p><small>&copy; Jack Whiting</small></p>
    </div>
</footer>

</body>