<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ .Hugo.Generator }}
    
    {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}
    
    {{ if eq .URL "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
        {{ if .Description }}
        <meta property="description" content="{{ .Description }}">
        {{ end }}
    {{ end }}
    
    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}
    
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:500,600" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" media="all">
  </head>
  <body>

    <header class="site-header wrapper">
      <a class="site-logo no-effect" href="{{ .Site.BaseURL }}">
        <!-- <img src="{{ .Site.BaseURL }}img/logo.svg" alt="JW"> -->
        Jack<span>.</span>
      </a>    
      <ul class="site-nav">
          {{- $currentPage := . -}}

          {{ range .Site.Menus.main -}}
          <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{- end }}
      </ul>   
    </header>

    <main>