html {
    font-size: 62.5%;
}

body {
    font-family: $font-sans;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}