h1 {
    font-size: 3.4rem;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 8px;
}

h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

h3 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

p, li {
    font-size: 2rem;
    line-height: 1.6;
    color: $greyish;
}

p {
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 25px;
    margin-bottom: 7px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 15px;
}

pre {
    padding: 15px;
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    transition: .3s all cubic-bezier(0, 1, 0.5, 1);
    background-size: 100% 200%;
    background-position: 0 -100%; 
    background-image: linear-gradient(to top, transparent 50%, rgba($gold,0.5) 50%);
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    color: $black;

    &:hover:not(.no-effect) {
        border-bottom: 0;
        background-position: 0 0;
        color: white;
    }

    &:not(.no-effect) {
        background-size: 100% 200%;
        background-position: 0 -100%; 
        background-image: linear-gradient(to top, transparent 50%, rgba($gold, .5) 50%);
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100px;
    border-color: rgba(0,0,0,0.2);
}