h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

p, li {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

p {
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 25px;
    margin-bottom: 7px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 8px;
}

pre {
    padding: 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    transition: .3s all cubic-bezier(0, 1, 0.5, 1);
    background-size: 100% 200%;
    background-position: 0 -100%; 
    background-image: linear-gradient(to top, transparent 50%, rgba(0,0,0,0.9) 50%);
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    color: $black;

    &:hover:not(.no-effect) {
        border-bottom: 0;
        background-position: 0 0;
        color: white;
    }

    &:not(.no-effect) {
        background-size: 100% 200%;
        background-position: 0 -100%; 
        background-image: linear-gradient(to top, transparent 50%, rgba(0,0,0,0.9) 50%);
    }

}