// Fonts
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: 'Merriweather', 'Times New Roman', serif;

// Colours
$black: #1C1B1B;
$gold: #A6823F;

$greyish: rgba($black, .9);