{{ partial "header.html" . }}

<div class="wrapper">
    <div class="page-title">
        <h1 class="page-title__lead">{{ .Title }}</h1>
        <div class="page-title__meta"><p>{{ .Date.Format "January 2, 2006" }}</p></div>
    </div>
    
    <div class="post">
        {{ .Content }}
    </div>
</div>

{{ partial "footer.html" . }}