/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 3.4rem;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 8px; }

h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600; }

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px; }

h4 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px; }

p, li {
  font-size: 2rem;
  line-height: 1.6;
  color: rgba(28, 27, 27, 0.9); }

p {
  margin-bottom: 20px; }

ul, ol {
  margin-left: 25px;
  margin-bottom: 7px; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  margin-bottom: 10px; }

ol li {
  margin-bottom: 15px; }

pre {
  padding: 15px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  -webkit-transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
  -o-transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
  transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
  background-size: 100% 200%;
  background-position: 0 -100%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(50%, rgba(166, 130, 63, 0.5)));
  background-image: -webkit-linear-gradient(bottom, transparent 50%, rgba(166, 130, 63, 0.5) 50%);
  background-image: -o-linear-gradient(bottom, transparent 50%, rgba(166, 130, 63, 0.5) 50%);
  background-image: linear-gradient(to top, transparent 50%, rgba(166, 130, 63, 0.5) 50%);
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  color: #1C1B1B; }
  a:hover:not(.no-effect) {
    border-bottom: 0;
    background-position: 0 0;
    color: white; }
  a:not(.no-effect) {
    background-size: 100% 200%;
    background-position: 0 -100%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(50%, rgba(166, 130, 63, 0.5)));
    background-image: -webkit-linear-gradient(bottom, transparent 50%, rgba(166, 130, 63, 0.5) 50%);
    background-image: -o-linear-gradient(bottom, transparent 50%, rgba(166, 130, 63, 0.5) 50%);
    background-image: linear-gradient(to top, transparent 50%, rgba(166, 130, 63, 0.5) 50%); }

hr {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 100px;
  border-color: rgba(0, 0, 0, 0.2); }

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px; }

.site-header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .site-header img {
    width: 40px;
    height: auto; }
  .site-header a {
    border-bottom: 0;
    padding-bottom: 0; }

.site-logo {
  font-size: 2.8rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-weight: bold;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .site-logo span {
    color: #A6823F;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  .site-logo:hover, .site-logo:focus {
    color: #A6823F; }
    .site-logo:hover span, .site-logo:focus span {
      color: #1C1B1B; }

.sub-footer {
  margin-top: -60px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .sub-footer p {
    margin: 0;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3); }

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .site-nav li {
    margin: 0 0 0 15px;
    line-height: 1;
    padding: 0;
    font-size: 1.8rem; }
    @media (min-width: 410px) {
      .site-nav li {
        margin: 0 0 0 30px; } }
  .site-nav a {
    font-weight: 600; }
  .site-nav .active a {
    padding-bottom: 2px;
    border-bottom: 2px solid black; }
    .site-nav .active a:hover {
      border-bottom: 0; }

.page-title {
  margin-top: 120px;
  margin-bottom: 120px; }
  .page-title--home {
    margin-bottom: 30px;
    max-width: unset; }

.page-title__lead {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 700;
  color: #A6823F;
  margin-bottom: 20px; }

.page-title__sub h2, .page-title__sub p, .page-title__sub {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 0; }

.page-title__sub p, .page-title__sub {
  font-weight: 300; }

.page-title__meta p, .page-title__meta {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.4); }

.cta {
  background: #1C1B1B;
  padding: 45px;
  color: white;
  margin-bottom: 60px; }
  .cta p {
    font-weight: 300; }
    @media (min-width: 768px) {
      .cta p {
        max-width: 63.33333%; } }
  .cta a {
    color: white;
    border-color: white;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(50%, white));
    background-image: -webkit-linear-gradient(bottom, transparent 50%, white 50%);
    background-image: -o-linear-gradient(bottom, transparent 50%, white 50%);
    background-image: linear-gradient(to top, transparent 50%, white 50%); }
    .cta a:hover {
      color: #1C1B1B; }

.cta_lead,
p.cta__lead {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 1.3; }
  .cta_lead span,
  p.cta__lead span {
    display: block; }

.cta--footer {
  margin-top: 40px; }

.home-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px; }

.home-lead__text {
  max-width: 800px;
  margin: 0 auto; }

.home-lead__image {
  text-align: right; }

.post-list-group {
  margin-bottom: 90px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list h2 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400; }
  .post-list li {
    margin-bottom: 15px; }
    .post-list li p {
      margin: 0; }
    .post-list li:last-of-type {
      margin-bottom: 0; }
  .post-list a {
    border-bottom: 0;
    border-bottom: 3px solid rgba(166, 130, 63, 0.1); }

.post {
  max-width: 800px;
  margin: 0 auto; }
  .post h1 {
    margin-top: 40px; }
  .post h2 {
    margin-top: 40px; }
  .post h3 {
    margin-top: 40px; }
